# Web Framework
fastapi
uvicorn[standard]

# Database
sqlalchemy
pymysql
cryptography

# Validation
pydantic-settings
email-validator

# Auth
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

# Test
pytest
pytest-cov
pytest-asyncio
httpx

# Code Quality
ruff
mypy